body{
    text-align:center;
    background-color: #395144;
    Color: #F0EBCE;
    font-family:monospace;
    font-weight: bold;
}
h1{
    color: #F0EBCE;
    font-weight: bold;
    font-size: 50px;
    margin: 135px 0px 20px;
    letter-spacing: 10px;
}
#clockdiv{
    /* display: inline-block; */
    display: absolute;
    font-weight: 100;
    font-size: 30px;
    background-color: #4E6C50;
    padding:30px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
}
#clockdiv > div{
    padding:50px;
    border-radius: 20px;
    display: inline-block;
    background: #AA8B56;
    margin-top: 20px;
}
#clockdiv div > span{
    padding: 70px;
    border-radius: 30px;
    background: #F0EBCE;
    display: inline-block;
    color:#AA8B56;
}
.smalltext{
    padding-top: 15px;
    font-size: 25px;
}
h2{
    letter-spacing: 25px;
}
footer{
    margin-top: 20px;
    font-size: 10px;
    letter-spacing: 5px;
}
